<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 本地端CDN -->
    <script src="CDN/vue.js"></script>
    <link rel="stylesheet" href="CDN/bootstrap5.css">
    <script src="CDN/bootstrap5_bundle.js"></script>
    <title>Document</title>

    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

</head>

<body>
    <div id="app">
        <ul>
            <li v-for="section in sections">{{section}}</li>
        </ul>
        <ul>
            <li v-for="(section,index) in sections">{{index}}-{{section}}</li>
        </ul>
    </div>



    <script>
        new Vue({
            el: '#app',
            data: {
                sections: [
                    "China",
                    "America",
                    "Japan"
                ]
            }
        })
    </script>
</body>

</html>